[2015-02-05 13:48] malecoda opened #1 "Bugged Inventory Screen Zc 0.0.8"
Tabs are bugged/graphically/not functional.

[2015-02-05 14:04] malecoda opened #2 "FPS/Chunk Update lag zC 0.0.8"
l5639@3.8/24G/7950/W7/Java 1.8.0_31 x64 or Java 1.7.0_72 x64 6g allocated 1.5-2g used

Game play feels sluggish 16-30 FPS common, chunk updates equal or greater than FPS.
Both in base and other areas. FPS as low as 3 not uncommon.

Tried:
Using Java 1.8/1.7 x64
fast lighting, clouds, and particles low/disabled
fastcraft, crashes client on world load (SP/MP)

[2015-02-05 17:26] warezit commented on #1
This was a problem with CustomNPCs fighting other mods to create tabs in the inventory screen.

Modified CustomNPCs config to disable creating tabs in inventory screen.

Changes will be in effect on the next release of zitCraft = 0.0.9

[2015-02-05 17:26] #1 closed, assigned to warezit

[2015-02-05 18:31] warezit commented on #2
I see what you are talking about.

Investigating for the last couple hours, and still looking into it.

I'll get this pinned down today.

[2015-02-05 21:16] warezit commented on #2
Pinned issue down to a bad version of NEI.

Rolled NEI back to:

Changes are in effect on zitCraft 0.0.9.

[2015-02-05 21:16] #2 closed, assigned to warezit

[2015-02-05 21:18] warezit commented on #2
Side note:
Confirmed FastCraft (any version for MC 1.7.10) crashing client and server.

[2015-02-07 06:54] mprobison opened #3 "Galactic Craft Oxygen Collector Bitchy-ness - zC 0.0.10"
Seeds from forestry/pam's shit will not produce oxygen via the Oxygen Collector. Most likely an issue with galactic suc--- Craft. A quick glance to see if a config file exists would be great for the next update.

[2015-02-07 06:57] mprobison opened #4 "IC2 Naming Convention - zC 0.0.10"
All the shit in NEI pertaining to the IC2 has a bullshit naming convention. Everything is prefixed with the mod name, type, and finally the block name. Not really a game breaking issue, but is not neat.

[2015-02-07 07:04] warezit commented on #4
I noticed this as well.

Not sure how to fix this. I have not looked into fixing this yet either. Any advice pertaining to this is  appreciated.

[2015-02-07 07:06] warezit commented on #3
Not producing "seeds" from crops might have something to do with HungerOverhaul, Spice Of Life, or Harvestcraft. Configs need to be looked into for this.

[2015-02-07 07:55] Rader2146 opened #5 "Sleeping in bed crashes client. - zC 0.0.10"
Pretty simple, yet have no idea why...

Right click on a bed to sleep and client crashes immediately. Confirmed a second time.

Crash Report
https://gist.github.com/Rader2146/4649332311912be56fb4

Will report issue to HungerOverhaul also.

[2015-02-07 08:15] Rader2146 commented on #5
https://gist.github.com/Rader2146/e8310c933c5b9ddc2dbe

Now seems to be multiple right click events.  This was from right clicking a wooden door to open in.

[2015-02-07 14:19] warezit opened #6 "zitCraft Client running slow/stuck on "Mojang" loading screen - zC: all versions"
You must have Java 1.7 64-Bit to run the zitCraft Mod Pack. 32-Bit Java locks the max RAM @ 1 GB.

Make sure to increase the allocated RAM in the Technic Launcher. By default Technic Launcher only allocates 1 GB. We recommend 4 GB for the pack to run smoothly.

![step1](https://cloud.githubusercontent.com/assets/8278779/6092406/3f6e7414-aea3-11e4-89cd-ecb61db849e4.jpg)
![step2](https://cloud.githu

[2015-02-07 14:35] warezit commented on #3
I have looked through the config for GalacticCraft, and I believe plants from Forestry and Pam's Harvest Craft are just simply not supported/cross-compatible with GalacticCraft for producing oxygen. As far as I am aware this is just an unsupported feature.

I think if you want to produce oxygen in space (or in any GC dimension) you must use vanilla plants/trees/etc...

[2015-02-07 21:12] warezit commented on #5
Looks like an issue with HungerOverhaul. Looking into this right now.

[2015-02-07 21:14] warezit commented on #4
I searched Google for this a bit today, and I can't find anything pertaining to this. Any advice from anyone on this is appreciated.

[2015-02-07 21:19] FuzzyJem opened #7 "Essence berries wont grow - zC 0.0.10"
Having an issue with essence berries growing, however, it doesnt seem to be affecting anyone else. Ive placed them down 3 days ago and they will not grow. some MIGHT grow to the second stage but will not complete the growing process. The only way to get them to grow past this is to use the Sigil of the green. Then, and only then,  they grow to the final stage and produce essence berries. Ive taken

[2015-02-07 21:32] #3 closed, assigned to warezit

[2015-02-07 21:37] Rader2146 commented on #7
I can't get them to grow either.

[2015-02-07 21:46] FuzzyJem commented on #7
might actually be other berry bushes as well. ill check in a few when i get a stable connection

[2015-02-07 21:54] warezit commented on #5
Posted on the Hunger Overhaul GitHub Issue Tracker here: https://github.com/progwml6/HungerOverhaul/issues/77

[2015-02-07 21:55] Rader2146 commented on #5
I'm sure that this is a HO thing.  I was reading on the HO github and the right click to harvest mechanic is (in the Dev's own words) "a bit of a hacky workaround".

Might need to disable right-click harvest in the configs.  Confirmed crash in singleplayer also.  Going to mess with client configs.

[2015-02-07 21:57] warezit commented on #7
My berry bushes grow... but VERY slowly... I am using a Lily Pad of Fertility next to them tho... There are also these methods to help them grow faster... http://forum.feed-the-beast.com/threads/essence-berry.42448/

I am looking through the configs to see if there is another mod that is nerfing the growth rate of berry bushes.

[2015-02-07 22:01] warezit commented on #5
I see what you mean here: https://github.com/progwml6/HungerOverhaul/issues/35#issuecomment-59090026

Disabling the "right-click" feature in the HO configs might be the best option, until there is a better solution.

[2015-02-07 23:02] bulseyerocks opened #8 "(BC Silicon) Assembly Table error - zC 0.0.10"
In order to make a 'Redstone Crystal', you must make an Assembly Table, ( lasers,) and a block of Redstone. The Assembly Table works perfectly fine from what I've experienced - besides the fact that Redstone Crystals are unable to be made. I put my block in and it takes nearly 20 minutes or more with 3 lasers and then nothing comes out, nothing goes into my inventory, nothing is to be seen. The as

[2015-02-08 00:05] warezit commented on #8
I just tested this issue in creative single player on zitCraft 0.0.10.

I was able to craft a Redstone Crystal just fine. I used 30 lasers, and it took nearly 10 mins.

Are you sure the Redstone Crystal was not made? Did it drop thru the floor, or something? Or, stuck in a transfer node?

![2015-02-07_18 08 19](https://cloud.githubusercontent.com/assets/8278779/6094543/d42c7f06-aef3-11e4-862d-6e79

[2015-02-08 03:34] #7 closed, assigned to warezit

[2015-02-08 03:35] #4 closed, assigned to warezit

[2015-02-08 04:18] mprobison opened #9 "Large map overlay artifact."
Ender energy conduit (green tier 3) will cut through the expanded mini map while on the item bar. Cool fact, not really a game breaking thing. Just thought I'd share with the club. http://puu.sh/fCKKV/eb20b6cdb3.jpg

[2015-02-08 21:31] #8 closed, assigned to warezit

[2015-02-08 21:37] warezit commented on #9
Small issue, but still relevant.

I think just a graphical "bug".

Not sure even how to address this/fix it. But, since this is "non-game-breaking" I am going to dis-regard it in the meantime, until it would become a actual problem.

Thanks for the heads up!

[2015-02-08 21:37] #9 closed, assigned to warezit

[2015-02-09 22:38] Slyleaf opened #10 "Stuck on "Initialising" When Launching"
http://puu.sh/fHJNZ/3d06d985cb.png

Launcher gets stuck each time. Have tried uninstalling and re-installing pack.

[2015-02-09 23:31] warezit commented on #10
See this: https://github.com/warezit/zitCraft/issues/6

[2015-02-09 23:31] #10 closed, assigned to warezit

[2015-02-10 16:43] warezit opened #11 "Sleeping in bed damages player - zC 0.0.11"
This is an issue with the "Morpheus" mod, I believe.

This is still an issue in zitCraft 0.0.11.
# Place your bed **below Y-Level 64**.

[2015-02-10 21:50] warezit opened #12 "Modular Powersuits missing all recipes - zC 0.0.11"
The Modular Powersuits mod is not showing any recipes in NEI.

This is a known problem.

Looking for a fix. Testing QMX release of Modular Powersuits now (for: zC 0.0.12)

[2015-02-11 03:27] warezit commented on #12
More details here: https://github.com/QMXTech/MachineMusePowersuits/issues?q=recipe

[2015-02-11 04:40] Rader2146 opened #13 "Crash loading single player world. - zC 0.0.11"
Existing single player test world and newly generated worlds crash in singleplayer after the 0.0.11 update.

Log:
https://gist.github.com/Rader2146/c9c22741f294fa7c2d50

Numina/Powersuits seems to be the culprit.  Will remove and retest.

[2015-02-11 05:27] warezit commented on #13
We should be switching to a more stable build of Powersuits here: https://github.com/QMXTech/MachineMusePowersuits/releases on the the next release of zC (0.0.12) once I can get the recipe thing figured out here: https://github.com/warezit/zitCraft/issues/12

[2015-02-11 05:35] warezit opened #14 "Using Enhanced Portals causes massive loss of hunger and saturation - zC 0.0.11"
When going thru an Enhanced Portal, the player loses a massive amount of hunger.

Not sure what is causing this. Might be related to Spice of Life, or hunger overhaul.

I will test what is causing this, before the next release of zC (0.0.12).

[2015-02-11 05:55] warezit commented on #11
This is also true for DecoCraft beds.

[2015-02-11 17:10] FuzzyJem opened #15 "Ender IO farming station/Pams Harvest Compatibility issue? - zC 0.0.11"
When inserting PH seeds into the ender io farmer, the farmer plants them just fine but only the seeds  are harvested. The fruits/veggies are no where to be found in the chest where everything is being inputted to. Keep in mind, I only have used the ender io farming station with oak sapling in the past, so possibly doing something wrong.

[2015-02-11 17:16] FuzzyJem commented on #14
Ive also gone through a portal, just to instantly get sent back a few times which of course leads to instant 0 hunger

[2015-02-11 20:21] Unyieldingvenom opened #16 "Death without dying! - zC 0.0.11"
Recently entered a twilight forest biome which caused the hunger debuff. Without any loss of health I suddeny got the message that I had died of starvation, all my items disappeared and a gravestone spawned but I did not die. Now I am constantly 'dying' and spawning gravestones but not actually dying. Eating does nothing to stop it and I cannot die by any other means, even being killed by another

[2015-02-12 05:13] Rader2146 commented on #16
Seems to happen to anyone who dies.  Same thing is happening to Zun.

[2015-02-12 08:45] Unyieldingvenom commented on #16
Strange, does hunger kill immediately? I had 40 hearts of health it would have normally had to burn thru first but it didnt

[2015-02-14 15:40] zunzibarr opened #17 "Cannot create single player world"
Tried setting up a creative world, all else at default settings, crashes to desktop after a few seconds of trying to load it up. Due to pastebin constraints, only the bottom portion of the log exists here - http://pastebin.com/iHx5vxQU

[2015-02-14 15:42] #17 closed, assigned to warezit

[2015-02-14 17:29] warezit commented on #17
Looks line Numina, the base mod for Modular Powersuits is causing this issue.

I am removing the current version of Modular Powersuits in the next release of zC (0.0.12) because of instability, and also missing recipes.

[2015-02-15 04:43] Rader2146 commented on #16
Yes, going down to zero hunger does something like 600 damage: aka instant death.  The configs could be adjusted in the interim so that it isnt instant death.  That way If one is dying but not dying it will give a little time to eat before the death cycle continues.

[2015-02-15 04:47] Rader2146 opened #18 "Wither Skeletons and SafariNets - zC 0.0.11"
Capturing a wither skeleton in a safari net turns the wither skeleton into a normal skeleton.

[2015-02-15 04:51] Rader2146 commented on #17
QMXTech released an update earlier today.  Fixes recipies and we'll cross our fingers for single player worlds to work again.

https://github.com/QMXTech/MachineMusePowersuits/releases/tag/v0.11.0.6-QMX

[2015-02-15 06:25] Rader2146 opened #19 "AE2Stuff Crystal Growth Chamber disappears when placed. - zC 0.0.11"
Instantly...as soon as it's placed it disappears as if it was never there.  Doesn't drop as an item, it's just gone.  It has only stayed and worked 1 out of 4 attempts.

[2015-02-15 06:41] Rader2146 commented on #19
Further investigation:  The chambers must be placed in a spot where they will not touch any AE cables or components (I was trying to place mine next to an ME Drive).  AFTER it is placed, you can place cable and components adjacent to the chamber with no problems.

[2015-02-15 08:23] FuzzyJem opened #20 "payload may not be larger than 32K? - zC 0.0.11"
![image](https://cloud.githubusercontent.com/assets/10901280/6202589/e8c81a00-b4c1-11e4-9e63-49e3efe8c695.png)

keep getting this message after joining for a few minutes. I get kicked out after about 2 mins of playing after some serious lag.
 not sure what is causing this

[2015-02-15 08:42] FuzzyJem commented on #20
in the nether

[2015-02-15 20:51] warezit commented on #18
Use "spawn exact copy" in the auto-spawner.

More details here: http://www.reddit.com/r/feedthebeast/comments/20dg77/wither_skull_farm/

[2015-02-15 20:51] #19 closed, assigned to warezit

[2015-02-15 20:59] warezit commented on #20
Seems like this is related to the Hats/Hat Stand mod(s).

More details here: https://github.com/micdoodle8/Galacticraft/issues/878

I am not currently aware of how to fix this. I think there is some incompatability between some mods. I will make sure we are running updated versions of these mods on the next update of zC (0.0.12).

[2015-02-15 21:41] warezit commented on #5
Removing HO in zC 0.0.12. Closed.

[2015-02-15 21:41] #5 closed, assigned to warezit

[2015-02-15 21:50] warezit commented on #12
Updated Modular Powersuits mod to QMXTech 0.11.0.6: https://github.com/QMXTech/MachineMusePowersuits/releases/tag/v0.11.0.6-QMX

Recipes still don't show up in NEI, but you are able to craft any item. Recipes are here: http://machinemuse.net/recipes.php

[2015-02-15 21:50] #12 closed, assigned to warezit

[2015-02-15 21:51] warezit commented on #13
Updated Modular Powersuits mod to 0.11.0.6. https://github.com/QMXTech/MachineMusePowersuits/releases/tag/v0.11.0.6-QMX

This should fix this issue.

[2015-02-15 21:51] #13 closed, assigned to warezit

[2015-02-15 21:52] warezit commented on #14
Removing HO & SoL in zC 0.0.12.

This "should" fix this issue.

[2015-02-15 22:01] Rader2146 commented on #20
i got this once while in the nether, didnt report because i couldnt reproduce the error

[2015-02-15 22:03] warezit commented on #20
TY for letting us know now tho Rader.

Good to know it's not just limited to one user.

[2015-02-15 22:05] Rader2146 commented on #18
I'm not trying to use the auto-spawner....I cant even get that far.  If I capture the wither skeleton and release is even 1 second later and still in the nether it's turned back into a regular skeleton.

[2015-02-15 22:08] warezit commented on #18
That is normal, as far as I know.

The only way to release the wither skelly from a safari net is using the auto-spawner, with exact-copy mode turned on. If you release it any other way, it just spawns a normal skelly.

Feel free to correct me if I am wrong. This is just the way I understand the mechanics of it.

[2015-02-15 22:10] warezit commented on #20
Updated "Hats" mod from 4.0.0 to 4.0.1 in zC 0.0.12.

Hopefully this fixes this issue.

[2015-02-15 22:10] #20 closed, assigned to warezit

[2015-02-15 22:16] Unyieldingvenom commented on #16
Had to eat to stop death cycle, not easy but do-able :)

[2015-02-15 22:22] Rader2146 commented on #18
I first found the problem using the Auto-Spawner.  Capture skeleton, put in spawner, spawn exact copy was on, yet it spawns normal skeletons.  When you release a mob from the safari net it should always release the exact mob you picked up, spawning new mobs is when the exact copy comes into play.

Even the tooltip that would normaly say:
SafariNet (Re-Usable)
Wither Skeleton
Health: 20

After capt

[2015-02-15 22:39] warezit commented on #18
Odd. Not sure why this is happening. This is the correct way to spawn Wither Skells, using an Auto-Spawner, as far as I understand.

Incorrect. Safari Nets have always had this issue with Skellys/Wither Skellys not spawning correctly. Because the "Wither Skelly" mob has the same base-ID as a regular Skelly, the same way colored sheep have the same base-ID as a regular sheep. The meta-data(NBT-data

[2015-02-15 22:51] Rader2146 commented on #18
I thought about the same thing with the sheep, and just tested with a black sheep and it works fine,  I always get a black sheep after picking up and placing down.

Just tested with wither's again:

![2015-02-15_14 49 53](https://cloud.githubusercontent.com/assets/10893728/6205410/111077b8-b522-11e4-9d0b-c1f09ed41e32.png)

![2015-02-15_14 50 03](https://cloud.githubusercontent.com/assets/10893728/

[2015-02-15 22:53] Rader2146 commented on #18
Just notice that WAILA is saying:

Wither Skeleton
(HEARTS)
Ender IO

That's in both of our screenshots.

[2015-02-15 22:54] warezit commented on #18
Okay - well ignore my comment about the "sheep-thing"... But, what I said about Safari Nets and Wither Skells spawning regular Skellys still holds true.

[2015-02-15 23:00] warezit commented on #18
Well, I am not sure what resolved this issue, but I have tested this in zC 0.0.12, and it seems to be fixed.

I will be pushing out the next update (zC 0.0.12) shortly today.

[2015-02-15 23:01] #18 closed, assigned to warezit

[2015-02-15 23:01] Rader2146 commented on #18
sounds good, finders crossed.

[2015-02-16 01:31] warezit commented on #14
Removing Hunger Overhaul and Spice of Life did NOT fix this issue.

Still investigating...

[2015-02-17 03:39] #6 closed, assigned to warezit

[2015-02-18 01:29] FuzzyJem opened #21 "Unlimited Liquid drums with Wireless Extra cells Liquid terminal - zC 0.0.13"
Set up liquid ME terminal and a wireless one. You can fill buckets, drums , or whatever can be filled wirelessly with it. When I insert one drum, in the left slot (input slot) and click which liquid i want to fill it with, the right slot (output slot) gives me a stack of 64 fully loaded of what ever liquid i want. I can then keep throwing the stack of 64 drums on the ground continuously giving me

[2015-02-18 20:17] warezit opened #22 "Suggest mods or config changes for zC here!"
Feel free to suggest mods to add/remove or config changes for the zitCraft modpack or server here!

[2015-02-20 08:35] zunzibarr commented on #22
You should change configs for electrical age, specifically the street light / suspended light - hanging lights and streetlights look amazing, and there is no way to automate bulb replacement once they blow (the bulbs that allow them to 'light' burn out after 8 hours of being in a loaded chunk).

An easy fix would just be making bulbs last forever (or a very long time.)

[2015-02-20 08:37] zunzibarr commented on #22
... In the same vein, most of electrical age's crafting recipes conflict with other things. I know you've never tweaked with recipes, but it's worth noting in case people decide to get into it.

[2015-02-20 14:03] Unyieldingvenom commented on #22
Updating the voxel map fixes the errors some people are having.

[2015-02-21 08:21] FuzzyJem opened #23 "ProjectE transmutation search?"

[2015-02-21 08:21] #23 closed, assigned to nobody

[2015-02-21 08:32] FuzzyJem opened #24 "ProjectE transmutation search? - zC 0.0.14"
So projectE has a book available that makes it so that everything that has an emc value, can be search in the transmutation table/tablet so you can create it using EMC without having to "teach" the tablet how to make it.The problem I am having is that most items i search for that have a lot of letters ends up only giving me the option to create paint brushes. When you search for something, there a

[2015-02-22 02:31] Rader2146 commented on #24
After our convo last night I looked into this more.  ProjectE 1.2.0 was released 5 days ago and is supposed to fix this well known bug.

[2015-02-22 02:41] Rader2146 commented on #22
Zun, I can tweak recipes on a case by case basis (game/progression breaking) but I'm not going to attempt to change "most" of a mods recipes.  An alternative is the intelligent workbench from Remote IO that will allow you to select the output for conflicting recipes.

[2015-02-22 04:22] warezit commented on #16
This is still a thing in zC 0.0.15.

Any advice on how to fix this is appreciated. I have skimmed thru Google briefly but not found anything related to this.

[2015-02-22 04:23] warezit commented on #21
This "should" be fixed in zC 0.0.15

[2015-02-22 04:42] Rader2146 commented on #11
Still a thing?  My bed is well above y64 and works fine.  Cant confirm if it's fixed for all others though.

[2015-02-22 04:48] Rader2146 commented on #16
I have no idea where to start looking on this, but as a workaround for the meantime:

HungerOverhaul config option

[code]

"##" = anything below 10 (5 hearts) would allow enough time to eat and end the death cycle.  HO default is 200.

[2015-02-22 05:59] Rader2146 commented on #22
Mod Suggestion...

INpureCore:

INpureCore is simply my library for my mods. It does dependency handling and such.

Core Features:

[code]

IMPORTANT: As of 1.0.0B5 the culling features are compatible with Java 8. Enjoy!

The core can currently cull the following things from NEI:

[code]

In most cases it will leave 1 of each type of thing visible in NEI so you know it exists and how to craft it.

[2015-02-22 07:07] NubsMcGee commented on #22
Thaumcraft.cfg

[code]

Setting this to -1 turns off the tedious research mini game and allows you to simply purchase the various recipes with your stored up research points.

I personally find the connect the dots mini games tedious and it really keeps me from doing Thaumcraft as it sucks all fun from the content for me.

[2015-02-22 07:10] warezit commented on #24
FYI - ProjectE has been updated to ProjectE-1.7.10-PE1.2.0 in zC 0.0.15.

http://www.technicpack.net/modpack/zitcraft.581606/changelog

[2015-02-22 07:13] NubsMcGee commented on #22
The NEI Facade Culling sounds fantastic. I second that addition if it works.

[2015-02-22 21:43] NubsMcGee commented on #22
Botania seems to be 13 revisions behind the current release.

[2015-02-22 21:58] Rader2146 commented on #22
@NubsMcGee Psst....dont tell anybody I shared this with you.....

http://ythri.github.io/tcresearch/

[2015-02-23 00:38] zunzibarr commented on #22
The addition of something like a 1k cell + 4k storage component = 4k drive, 4k drive + 16k storage component = 16k drive, 16k drive + 64k storage component = 64k drive would be useful - would help to avoid the obsolete-ness that lingers around 1k/4k drives.

[2015-02-23 01:25] NubsMcGee commented on #22
I'm well aware of that, and I've used it a ton. It's still tedious as fuck
to research things.

On Sun Feb 22 2015 at 3:58:26 PM Rader2146 notifications@github.com wrote:

[2015-02-23 01:45] NubsMcGee commented on #22
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2127441-0-8-2-technomancy-an-expanded-bridge

http://forum.feed-the-beast.com/threads/0-9-0-1-7-10-technomancy-discussion-thread.47481/

http://www.curse.com/mc-mods/minecraft/220308-thaumic-infusion

Two more Thaumcraft Addon Mods.

[2015-02-23 01:49] warezit commented on #22
Unfortunately there is no way to disable the lamp-life entirely via the Eln.cfg.

The only real work-around for this is to make the life on them extremely long.

Default config (zC 0.0.15 and prior):

lamp {
    I:economicLifeInHours=32
    I:incondescentLifeInHours=8
}

New config, as of zC 0.0.16:
lamp {
    I:economicLifeInHours=32000
    I:incondescentLifeInHours=8000
}

That translates to:
32

[2015-02-23 01:50] warezit commented on #22
Same as what Rader said… Just use the “Intelligent Workbench” from the “Remote IO” mod, for conflicting recipes.

From: zunzibarr

[2015-02-23 01:52] warezit commented on #22
I was not aware people were having issues with VoxelMap (other than FuzzyJem).

Please start a new issue in the tracker stating any issues with VoxelMap. (I think I already know what the issues might be though)

From: Unyieldingvenom

[2015-02-23 01:53] warezit commented on #22
Good suggestion – this will be added in zC 0.0.16.

I have already tested it on the dev build, and it seems to be working fine.

From: Rader2146

[2015-02-23 01:54] warezit commented on #22
I am going to keep the config the way it is already for Thaumcraft.

I know the “connect the dots” mini-game is tedious, but I also don’t want to cheapen the experience of the modpack.

From: NubsMcGee

[2015-02-23 01:54] warezit commented on #22
Updated & tested working in zC 0.0.16.

From: NubsMcGee

[2015-02-23 01:55] warezit commented on #22
Not sure I fully understand what you mean here – but I know there is a little bit of a jump from 1k to 4k disks.

I don’t really feel like this mechanic needs a work-around though.

From: zunzibarr

[2015-02-23 02:15] #24 closed, assigned to nobody

[2015-02-23 02:16] warezit commented on #11
I can no longer reproduce this issue either.

My bed is also well above Y-Level 64, and I do not have any problems. (zC 0.0.15)

[2015-02-23 02:16] #11 closed, assigned to warezit

[2015-02-23 02:18] warezit commented on #16
Changing the HungerOverhaul.cfg from:
`I:damageOnStarve=200`

to:
`I:damageOnStarve=4`

Changes will take effect in zC 0.0.16

[2015-02-23 02:33] NubsMcGee commented on #22
Server side IRC integration.

While Dynmap allows yo to chat, As far as I can tell it doesn't allow you to see chat history, so if you're looking away when someone says something there's no way to know they even said anything.

Having the server linked to an IRC channel would add a lot of convenience.

[2015-02-23 02:49] warezit commented on #22
I will look into adding EiraIRC: http://minecraft.curseforge.com/mc-mods/68420-eirairc
It may not be on the next update (zC 0.0.16) but it should be soon.

I would also like to have this added functionality.

From: NubsMcGee

[2015-02-23 05:17] warezit commented on #21
Although I cannot reproduce this problem in zC 0.0.15, FuzzyJem says this is still a "thing".

[2015-02-23 09:33] FuzzyJem commented on #21
I was able to duplicate the same as before. Don't think this problem in particular was addressed in this update.

[2015-02-23 21:16] Unyieldingvenom commented on #22
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/wip-mods/2093099-draconic-evolution-1-0-0e - This looks prety good

[2015-02-24 22:34] NubsMcGee commented on #22
Add-on for Steve's Factory Manager, let's you copy managers.

I'm not personally using Steve's so i'm not requesting this mod. Just letting you guys know it's a thing :)

http://www.curse.com/mc-mods/minecraft/226067-steves-addons#t1:description

[2015-02-24 23:07] NubsMcGee commented on #22
Adventure Backpack

I don't know that we need this mod, but it's pretty fantastic!

http://www.curse.com/mc-mods/minecraft/225063-adventure-backpack

And a Spotlight Video

https://www.youtube.com/watch?v=G_vYKUhf9rA

[2015-02-24 23:32] NubsMcGee commented on #22
Dense Ores: Maybe for the next map reset?

http://www.curse.com/mc-mods/minecraft/224942-dense-ores

[2015-02-24 23:33] warezit opened #25 "Placing an EnerderThermic Pump too close to a Nether Fortress causes server console spam/lag - zC 0.0.16"
Title says it all.

More details here:
http://forums.technicpack.net/topic/115546-silently-catching-entity-tracking-error-what-to-do/

[2015-02-24 23:34] warezit commented on #25
I have since removed all 5 of the EnderThermic Pumps from the Nether, and it still does not fix the console spam. Please see me in-game to get your pump back! (Sorry!)

[2015-02-24 23:37] warezit opened #26 "Ender IO and Wither Skeletons issues - zC 0.0.16"
Server spawns THOUSANDS of Wither Skeletons in the Nether.

See these threads for more details:
https://github.com/CrazyPants/EnderIO/issues/1899
and
https://github.com/CrazyPants/EnderIO/issues/1958
and
https://github.com/CrazyPants/EnderIO/issues?q=wither

[2015-02-24 23:39] warezit opened #27 "Server console is constantly being spammed by Entity Tracking errors - zC 0.0.16"
WAY too much detail to list here, see this thread for more details:
http://www.minecraftforge.net/forum/index.php/topic,28183.0.html

[2015-02-24 23:52] NubsMcGee commented on #22
Voice Chat:

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1291487-glibys-voice-chat-mod-voice-chat-in-minecraft-3d

[2015-02-25 00:43] warezit commented on #27
After all my updates, and changing the config for Ender IO, I believe we have killed the console spam/lag issues. Props AGAIN to @Rader2146 for being a bad-ass....

Ender IO config change:
`replacewitherskeletons {
    # Separates wither and normal skeletons into different entities, enables the powered spawner to treat them differently [EXPERIMENTAL - MAY CAUSE ISSUES WITH OTHER MODS]
    B:Misc=f

[2015-02-25 00:43] #27 closed, assigned to warezit

[2015-02-25 00:44] warezit commented on #26
Fixed here: https://github.com/warezit/zitCraft/issues/27

[2015-02-25 00:44] #26 closed, assigned to warezit

[2015-02-25 04:44] NubsMcGee commented on #22
Aether II :o

http://www.reddit.com/r/feedthebeast/comments/2vuooq/aether_2_for_1710_coming_out_tomorrow/

Confirmed Compatibility list.

http://www.aetherii.com/forums/m/18024753/viewthread/19552629-aether-ii-1710-confirmed-our-modlist-modcompatibility

[2015-02-25 06:03] NubsMcGee commented on #22
Lot's of bugs with Thaumic Energistics, the Essentia Drives don't seem to work, however, putting drums on storage buses does. The Essentia Terminal Dupes Essentia like there is  no tomorrow. SO long as it has 1 of your selected type, it will FILL your container to the brim.

[2015-02-26 03:23] FuzzyJem opened #28 "Crash back to launcher - zC 0.0.17"
Items that I put in my inventory seem to crash my game. Not it seems to be an item from tconstruct

https://gist.github.com/FuzzyJem/4d45ea0560480f56800e

[2015-02-26 03:25] FuzzyJem commented on #28
Same happened with paint brushes*

[2015-02-26 04:05] warezit commented on #25
Console spam has been fixed, by this fix: https://github.com/warezit/zitCraft/issues/27

[2015-02-26 05:06] warezit commented on #28
Care to elaborate on this?

You are giving me very little information to go on here.

Like, what was the piece of armor you were trying to equip? And, anything else you can think of that you can tell me about this?

[2015-02-26 05:08] warezit commented on #28
Also, I highly doubt your "paint brush" issue is the EXACT same bug as what's happening here, but since you never reported anything, I have nothing to go on.

[2015-02-26 05:12] warezit commented on #22
I would recommend using a cardboard box to move a SFM machine, rather than adding another mod that provides the same functionality as something that is already in the pack.

Good suggestion tho! I love SFM, and I hope to see more addons for it!

From: NubsMcGee

[2015-02-26 05:13] warezit commented on #22
Looks cool, but not needed, I don’t think… Looks like you can do pretty much everything this mod provides already in zitCraft.

From: Unyieldingvenom

[2015-02-26 05:14] warezit commented on #22
Looks cool – I’m “meh” on it… Doesn’t really add any “needed” functionality to the pack…

From: NubsMcGee

[2015-02-26 05:16] warezit commented on #22
This also looks cool – but, I think since we have things like Mekanism and MystCraft, this mod is redundant/un-needed.

From: NubsMcGee

[2015-02-26 05:18] warezit commented on #22
This looks BAD-ASS! I found this mod a while ago, and completely forgot about it!

I’ll look into adding this on the next update!

From: NubsMcGee

[2015-02-26 05:20] warezit commented on #22
Please start a new issue for this. This current thread is for suggesting new mods/config changes, not for reporting bugs.

From: NubsMcGee

[2015-02-26 05:23] warezit commented on #22
OH. MY. GOD. YES.

I’ll also look into adding this on the next update…

From: NubsMcGee

[2015-02-26 05:25] warezit commented on #25
Please keep your EnderThermic Pump FAR away from a Nether Fortress.

[2015-02-26 05:29] NubsMcGee opened #29 "Thaumic Energistics Bugs - zC 0.0.17"
Lot's of bugs with Thaumic Energistics, the Essentia Drives don't seem to work, however, putting drums on storage buses does. The Essentia Terminal Dupes Essentia like there is no tomorrow. If it has at least 1 of your selected type, it will FILL your container to the brim.

[2015-02-26 07:16] NubsMcGee opened #30 "Twilight Forest Achievement Bug - zC 0.0.17"
I'm unable to get the "Lich Hunter" achievement to complete preventing me from advancing through the twilight forest. I have seen someone else get the achievement, so it's working for some.

I have killed the lich 4 times, and confirmed over and over that all requirements are being met.

[2015-02-26 07:22] NubsMcGee commented on #22
Description tags: Lets you add colored flavor text to things. It's nice for quickly telling your silk touch imbued tool from your fortune imbued tool :)

http://www.curse.com/mc-mods/minecraft/221990-description-tags

[2015-02-26 07:29] NubsMcGee commented on #22
TiC Tooltips: Easier to read and more informative tooltips for Tinkers' Tools.

But since imbued tools are a thing.... And ProjectE is a thing.... This doesn't really matter right now... But if we nuke ProjectE later, And get rid of imbued things (I know they're fantastic, but they negate all other things..), tinkers would become popular again making this mod fantastic. If we do this, I'd vote for

[2015-02-26 09:57] NubsMcGee commented on #22
Forbidden Magic: Cross Mod content for Blood Magic, Thaumcraft, Botania..

http://www.curse.com/mc-mods/minecraft/224237-forbidden-magic

[2015-02-26 11:05] NubsMcGee commented on #22
Apparently the latest version of Thermal Expansion makes Autonomous Activators require power! About time they got a nerf...

http://www.reddit.com/r/feedthebeast/comments/2wrkcb/autonomous_activators_now_requires_power_to/

[2015-02-26 16:03] NubsMcGee commented on #22
Thaumic Horizons: More Thaumcraft goodness.

http://minecraft.curseforge.com/mc-mods/227914-thaumic-horizons

[2015-02-26 19:58] FuzzyJem commented on #28
I believe it is the chest piece. I pulled it out of the transmutation tablet and put it in my inventory. seconds later the  game crashed back to launcher. The reason I said it was like the brush, (the mod name escapes me) was because the same exact thing happened. Pulled it out the transmutation tablet, threw it in my inventory, game crashed to launcher, Both of which resulted in me trying to conn

[2015-02-27 21:18] warezit commented on #22
Tested & added in the upcoming release of zC 0.0.18.

From: NubsMcGee

[2015-02-27 21:19] warezit commented on #22
TiC Tooltips is already included in the zitCraft mod pack (and has been since the start).

From: NubsMcGee

[2015-02-27 21:19] warezit commented on #22
Tested & added in the upcoming release of zC 0.0.18.

From: NubsMcGee

[2015-02-27 21:20] warezit commented on #22
Tested & added in the upcoming release of zC 0.0.18.

From: NubsMcGee

[2015-02-27 21:21] warezit commented on #22
SSR (Soul Shards Reborn) RC3 causes a crash when adding Thaumic Horizons.

We would have to switch to this version of SSR (as a work-around)(not tested for compatibility):

http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/wip-mods/2329877-soul-shards-the-old-ways-rc7-update

From: NubsMcGee

[2015-02-27 21:28] warezit commented on #22
Adding Aether II has a conflicting Dimension ID with the Compact Machines mod.

They both default to DIM ID: 3.

Aether II does not add a config option to change the DIM ID.

Changing the DIM ID for Compact Machines breaks all previous links to any Compact Machine.

https://github.com/gildedgames/aether-issues/issues/366

Otherwise, Aether II runs fine.

From: NubsMcGee

[2015-02-27 22:07] NubsMcGee commented on #22
Argghh... That's pretty frustrating there's no way to change the Dimension.... I wonder how much work it would be for them to add one?

[2015-02-27 22:11] warezit commented on #22
@NubsMcGee I made a request for that feature here:
https://github.com/gildedgames/aether-issues/issues/366

[2015-02-27 22:21] warezit commented on #22
@NubsMcGee Wow, that was fast - the dev is adding the config option now!

[2015-02-27 22:24] NubsMcGee commented on #22
Nice!

[2015-03-10 18:36] zunzibarr opened #31 "Crash on server login after logging out in an unloaded/corrupted chunk in The End. - zC 0.0.21"
I'm pretty sure it was an unloaded or corrupt chunk - nothing was in it, had that slow sluggish 'slide' you experience while going through it. Logged out to see if that would fix the chunk loading, and now crash upon server login.

[2015-03-10 19:11] warezit commented on #31
Can you upload your client crash log to pastebin or Gist?

[2015-03-10 19:57] zunzibarr commented on #31
.... Sorry for the rookie mistake. Here ya go! http://pastebin.com/gAK0nZwp

[2015-03-10 20:11] warezit commented on #31
No worries, thanks for sharing the log!

The log looks like a generic chunk issue to me, not related to any mods.

I just tried logging into the server, and going to the End dimension, and I cannot go there, for some reason. I tried going thru an Enhanced Portal to the End, using an Ender Porter, and the Transportation thing from Draconic Evolution. None of which worked.

It seems to me like the E

[2015-03-10 20:55] warezit commented on #31
@zunzibarr I fixed your player file to put you back at your base in the overworld, until I can get the End dimension reset/fixed.

Still working on it right now.

[2015-03-11 02:24] Benjaminjex commented on #22
Dense ores perhaps?

[2015-03-11 03:02] Benjaminjex opened #32 "Other Dimension Bugginess - zC 0.0.21"
When I go to another dimension (Mining World, Spectre Dimension) it will load for 30 seconds or so, and then all the blocks will disappear from the screen, and I cannot interact with what should be there.

[2015-03-11 19:29] zunzibarr commented on #32
The same happens in the end. Might be due to flying - but all blocks will disappear, I can see Enderman standing as if they're on floating islands, but no blocks are rendered and I am unable to move. As you remember, me logging off basically meant crashing until I was forcibly moved out of the dimension - Ender-Porter'ing out works though.

[2015-03-12 01:21] warezit commented on #31
So, I didn't change anything with the server/world file, and I just tried going to the End.

It seems to be working fine now. I can take my Enhanced Portal to the End, just fine.

Please try going to the End again, and let me know if you have any issues...

[2015-03-12 01:22] warezit commented on #32
Just tried going to the End and to the Mining World, and both seem to work fine for me.

Give it a try again, and let me know if you have any issues.

[2015-03-12 01:24] warezit commented on #22
@Benjaminjex I don't think Dense Ores is needed in this pack, since we can use the Deep Dark (2x ores) and we can gen a new mining world with MystCraft. We can also change the ore gen configs, if needed.

[2015-03-12 11:18] NubsMcGee commented on #22
My only comment on that, is that adding dense ores adds more items you need to implement into your processing queue. So in a way, it still ads more content to the game :)

What good is a game without problems to solve!

Also, I saw Aether II released an update with tons of bug fixes. Where does the future of your pack lie on the subject of Aether II? Is it still something you're hoping to add? Or

[2015-03-12 15:52] warezit commented on #22
@NubsMcGee I hear what you are saying about the Dense Ores, but again, I don't think it's needed in this pack. Another reason why I think that, is because of ore tripling/quadrupling/quintupling with Mekanism. I don't think this pack any shortage of ores, as it is. But, I am still open to any/all opinions about this.

On the Aether II note: Yes, I am still interested in having this included in the

[2015-03-13 07:02] warezit commented on #31
I "think" this is fixed after I cleaned up the server/world file a bit; let me know here if you run into this again.

[2015-03-13 07:02] #31 closed, assigned to warezit

[2015-03-13 07:02] warezit commented on #32
I "think" this is fixed after I cleaned up the server/world file a bit; let me know here if you run into this again.

[2015-03-13 07:02] #32 closed, assigned to warezit

[2015-03-13 07:03] warezit commented on #30
Try logging back into the server (when I am around), and I'll try advancing your progression thru the Twilight Forest mod via commands.

[2015-03-13 07:03] #30 closed, assigned to warezit

[2015-03-13 22:25] Benjaminjex opened #33 "Logon Crash -zC 0.0.21"
Log File: https://gist.github.com/Benjaminjex/ad12c18620c656db3241

I log onto the server, see the view I should have, see myself poisoned/withered, hear myself die, and then crash back to launcher.

[2015-03-13 23:43] warezit commented on #33
Hmm.

Well... The first issue is that this crash log is from 5 months ago, and not for zitCraft.

Can you recheck your log folder, and grab your most recent file?

It should be in: (~ means wherever you have the Technic Launcher installed)
`~/technic/logs/`
or:
`~/technic/modpacks/zitcraft/logs/`
OR:
`~/technic/modpacks/zitcraft/crash-reports/`

[2015-03-14 00:00] Benjaminjex commented on #33
×Faccepalm×
Lemme get the right file

[2015-03-14 00:20] Benjaminjex commented on #33
https://gist.github.com/Benjaminjex/81b034d0f71cc999c4ff

[2015-03-14 00:21] warezit commented on #33
Yikes. Now that log file is even too big for Gist.

Sorry for the headache. Could you put the log file onto DropBox? or, something similar?

[2015-03-14 00:22] warezit commented on #33
Nevermind - I got it working. Give me a min to look at it.

[2015-03-14 00:31] warezit commented on #33
Looks like the crash is being caused by a potion effect.

I have seen this problem once before. It was caused by being too close to a certain type of entity. I just looked into your player's .dat file, and it looks like you are in the Nether, and most likely having the same problem as I saw before.

Can you look @ DynMap and tell me the coords of your base? I'll move you back there...

[2015-03-14 00:34] Benjaminjex commented on #33
Yea, -1832, 548. It is one of those floating dungeons.

[2015-03-14 00:36] warezit commented on #33
Okay, your player's file should be fixed so you are back @ your base. Try to connect now, and see if that works. I'll try to hunt down what is causing this "potion effect" error...

[2015-03-14 00:39] Benjaminjex commented on #33
gotcha. By the way ware, you really don't need to worry about causing people headaches. You devote a lot of time and effort into this thing, responding almost instantly all the time. On top of that this is a BIG modded thing going on, it is a given there will be problems. A small price to pay for the enjoyment it brings us.

[2015-03-14 00:45] Benjaminjex commented on #33
Its working!

[2015-03-14 01:19] warezit commented on #33
Jex, Thank you very much for those kind words!

Also, yes, there will always be at least one or two problems with running modded MC. But, I like the challenge, and I am happy to have community members like yourself around who respect everyone else and the dev process.

Also, Great to hear that fixed the problem (for now). This will at least give me a little time to investigate the issue more. Chee

[2015-03-14 01:19] #33 closed, assigned to warezit

[2015-03-15 05:53] Benjaminjex commented on #28
Log: https://gist.github.com/Benjaminjex/9251ecee925da89d304d

I put a TiC armor piece (Traveller's stuff, but only the ones that go in the regular inventory equipper) into a table to modify it (forge, tinker's table) it crashes me to the launcher. Not sure if it goes here but it may be related.

[2015-03-15 07:30] Rader2146 commented on #28
@Benjaminjex can you re-log or does it crash again on join?

If you cannot re-log,  see if someone can destroy the table that you put the armor in (tell them not to open the GUI or they may crash too).

[2015-03-15 15:18] Benjaminjex commented on #28
I can relog (I did it several times) the problem happens whenever I grab the item with my mouse and move it and set it in the table GUI that I crash

[2015-03-16 21:11] Unyieldingvenom commented on #22
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/wip-mods/1441547-1-7-10-ancient-warfare-forge-smp-wip-d-l Looks very interesting, especially for creating a town with life in it that is not too op, also http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/wip-mods/1444924-1-7-10-forge-tall-doors-v0-5-2-now-with-first just because we dont have enough doors

[2015-03-17 03:54] Benjaminjex commented on #32
It's Back. Tried the Mining Dimension. Tried the Twighlight Forest. Succeeded with the spectre dimension but who knows how long that will last.

[2015-04-03 00:53] warezit commented on #28
ProjectE is the cause of this problem, and has been removed in zC 2.0

[2015-04-03 00:53] #28 closed, assigned to warezit

[2015-04-03 00:53] warezit commented on #16
FINALLY fixed this in zC 2.0. Tested working/fine.

[2015-04-03 00:53] #16 closed, assigned to warezit

[2015-04-10 00:42] warezit commented on #25
Disabled placing EnderThermicPumps in the Nether in zC 2.0

[2015-04-10 00:42] #25 closed, assigned to warezit

[2015-04-10 00:49] warezit commented on #29
Thaumcraft, Thaumic Energistics and AE2 have all been updated in zC 2.0. Let's revisit this issue in the new pack, and see if we can re-produce it.

[2015-04-10 00:49] #29 closed, assigned to warezit

[2015-04-10 01:07] warezit opened #34 "to twering!"

[2015-04-10 01:07] #34 closed, assigned to nobody

[2015-04-10 01:34] warezit commented on #14
This is tested and should be fixed in zC 2.0

[2015-04-10 01:34] #14 closed, assigned to warezit

[2015-04-10 02:11] warezit commented on #21
Tested this glitch in zC 2.0 and it still exists. Removed ExtraCells 2 from zC 2.0 due to this dupe glitch.

[2015-04-10 02:11] #21 closed, assigned to warezit

[2015-04-18 13:16] Unyieldingvenom opened #35 "Zc2.0 - Extra utilities iron spikes crashing client"
Went to make an iron spike and it crashed my client as soon as I put the last item in the crafting table, logged back in and checked nei to see if the recipe had changed and the icon for the spike is just fire and trying to look at the recipe crashes the client again.

[2015-04-18 17:32] Rader2146 commented on #35
Please upload a crash log so we can see what's going on.

[2015-04-18 21:56] Unyieldingvenom commented on #35
http://pastebin.com/yi4EmHWa

[2015-04-18 23:07] warezit commented on #35
Thank you for uploading the log file!

This guy is having the same issue: https://github.com/rwtema/extrautilities/issues/575

Also, this appears to be fixed in ExtraUtils 1.2.4a: http://minecraft.curseforge.com/mc-mods/225561-extra-utilities/files/2233352 (scroll down for changelog)

Unfortunately, upgrading from EU 1.2.4 to 1.2.4a requires upgrading Forge from 1291 to 1355.

I'll try to upgrade

[2015-04-18 23:10] warezit opened #36 "Getting hit while in the Nether causes x-ray vision - zC 2.0"
Title says it all...

X-Ray vision only lasts for about 5 secs, but still very annoying...

To fix this before the next pack update, simply open your /mods/ folder and delete the mod: Realistic Pain. It is a client-side only mod, and you will still be able to connect to the server.

Realistic Pain will be removed in the next pack update.

[2015-04-19 02:50] Rader2146 commented on #25
Is banning ender-thermic pumps nessisary?  This issue was fixed by #27. I think banning ender pumps in the nether is "fixing" a problem that doesn't exist.

[2015-04-23 03:54] warezit commented on #36
Fixed in zC 2.0.1

[2015-04-23 03:54] #36 closed, assigned to warezit

[2015-04-24 21:23] warezit commented on #35
This issue is fixed in ExUtils 1.2.4b.

I have confirmed this is working on the zitCraft dev pack, and will be released in the next update: zC 2.0.2.

[2015-04-24 21:23] #35 closed, assigned to warezit

[2019-03-16 20:34] MalTeeez commented on #12
Just download the .jar, open with 7-zip and extract the .recipe files to the recipes folder in the machinemuse config folder